.purple {
    background: $purple;
}

.padding-top {
    padding-top: 3rem;
}

.padding-bottom {
    padding-bottom: 3rem;
}

.padding-full {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

body {
    background: $purple;
}

#page-wrapper { 
    padding: 0;
}

.two-column {
  &__text-container {

  }
  
  &__image-container {
      p {
          margin: 0;
      }

      img {
          width: 100%;
      }
  }  
}

